.info{
  background-image: url('https://img.freepik.com/vector-premium/cielo-nocturno-fondo-arbol_25798-68.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

