<div class="container rounded resumen">
  <div class="row row-cols-2 p-2">
    <span class="fw-bold col-6 fs-1  mt-2 mb-2">39°F</span>
    <div class="col-6 text-end mt-2 mb-2">
      <small>High 41°F</small><br>
      <small>Low 37°F</small>
    </div>


    <div class="col-8 pe-0 mt-5">
      <span>Overcast Clouds</span><br>
      <span>Feels like 31°F</span><br>
      <span><i class="bi bi-umbrella-fill"></i>Umbrella Required</span>
    </div>
    <div class="col-4 text-end  mt-5">
      <img class="other_city_img" src="assets/images/cloud.png" alt="clauds">
    </div>
  </div>
</div>
