@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";

@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";


nav{
  background-color: #252230;
  border: none;
}

span{
  background-color: #2e3540;
}

i{
  filter: invert(1);
}

.bg-custom-toggle{
  background-color: #0a95c0;
  height: 35px;
  width: 50px;
}

.tools{
  @include media-breakpoint-down(lg) {
    width: 100%;
    justify-content: space-evenly!important;
    form{
      width: 75%!important;
    }
  }

}
