<nav class="navbar flex-column flex-lg-row" >
  <h1 class="navbar-brand p-2 m-2 fs-1 fw-bold text-white text-center">Weather Dashboard</h1>
  <div class="d-flex flex-row justify-content-end align-items-center tools gap-2">
    <form class="p-2 w-100" role="search">
      <div class="input-group">
        <span class="input-group-text rounded-start-pill"><i class="bi bi-send-arrow-up"></i></span>
        <input class="form-control bg-white" type="search" placeholder="Search City...">
        <span class="input-group-text rounded-end-circle"><i class="bi bi-search"></i></span>
      </div>
    </form>
    <div class="form-check form-switch">
      <input class="form-check-input bg-custom-toggle" type="checkbox" id="flexSwitchCheckDefault">
    </div>
  </div>
</nav>
