<nav class="navbar d-flex flex-nowrap" >
  <h1 class="navbar-brand p-2 my-2 mx-2 fs-1 fw-bold text-white">Weather Dashboard</h1>
  <div class="container-fluid d-flex flex-row justify-content-end">
    <form class="p-2 w-50" role="search">
      <div class="input-group">
        <span class="input-group-text rounded-start-pill"><i class="bi bi-send-arrow-up"></i></span>
        <input class="form-control bg-white" type="search" placeholder="Search City...">
        <span class="input-group-text rounded-end-circle"><i class="bi bi-search"></i></span>
      </div>
    </form>
    <div class="form-check form-switch">
      <input class="form-check-input bg-custom-toggle" type="checkbox" id="flexSwitchCheckDefault">
    </div>
  </div>
</nav>
