<div class="container pt-2">
  <div class="grid mt-4 g-3">
    <div class="g-col-12 g-col-lg-8 sidebar rounded-4 ">
      <div class="p-4">
        <h4 class="mb-1">Forecast in <span class="fw-bold">New York, US</span></h4>
        <p>Saturday, December 17 at 07:13 PM</p>
        <div class="grid align-content-stretch mt-4 mb-4 ">
          <div class="g-col-12 g-col-lg-5 g-col-md-6 resumen rounded">
            <app-resumen></app-resumen>
          </div>
          <div  class="g-col-12 g-col-lg-4 g-col-md-6 details">
            <app-details [details]="details"></app-details>
          </div>
          <div class="g-col-12 g-col-lg-3 g-col-md-12 fw-bold">
            <app-info></app-info>
          </div>
        </div>

        <div class="row">
          <div *ngFor="let day of days" class="col">
            <app-card-temperature-day [day]="day" ></app-card-temperature-day>
          </div>
        </div>
      </div>
    </div>

    <div class="g-col-12 g-col-lg-4 sidebar rounded-4">
        <app-sidebar [cities]="cities"></app-sidebar>
    </div>
  </div>

