<div class="container pt-2">
  <div class="grid mt-4 g-3">
    <div class="g-col-8 sidebar rounded-4 ">
      <div class="p-4 mb-4">
        <h2>Forecast in <span>New York, US</span></h2>
        <p>Saaturday, December 17 at 07:13 PM</p>
        <div class="row align-content-stretch mb-4">
          <div class="col resumen rounded">
            <app-resumen></app-resumen>
          </div>
          <div  class="col details">
            <app-details [details]="details"></app-details>
          </div>
          <div class="col fw-bold">
            <app-info></app-info>
          </div>
        </div>

        <div class="row">
          <div *ngFor="let day of days" class="col">
            <app-card-temperature-day [day]="day" ></app-card-temperature-day>
          </div>
        </div>
      </div>
    </div>

    <div class="g-col-4 sidebar rounded-4">
        <app-sidebar [cities]="cities"></app-sidebar>
    </div>
  </div>
  
